@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", serif;
}
h1 {
  font-size: 44px;
}
.main {
  font-size: 16px;
}
.date {
  font-size: 12px;
}
p {
  margin: 0px;
}
